<!DOCTYPE html>
<html>
  <head>
    <title>ProjectGask</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
    integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_tag '/session', method: :delete do %>
        <nav class="login-nav">
          <a href="" id='logo-login'><%= image_tag("logo.png", id: "logo") %></a>
          <button class="logout-btn">Logout</button>
        </nav>
      <% end %>
    <% end %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

  </body>
</html>
