<!DOCTYPE html>
<html>
  <head>
    <title>ProjectGask</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
    integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
    crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      logged in as <%= current_user.first_name %>
        <%= form_tag '/session', method: :delete do %>
        <button>logout</button>
      <% end %>
    <% end %>
    <%= render 'layouts/header' %>

    <div class="content-wrapper">

    <%= yield %>
    </div>


    <%= render 'layouts/footer' %>
  </body>
</html>
