<!DOCTYPE html>
<html>
  <head>
    <title>ProjectGask</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuPHNanaTiObqRgkX-rDqK_UEFBxWLYfM"
      type="text/javascript"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_tag '/session', method: :delete do %>
      <input type="hidden" class="id" data-id=<%= current_user.id%> >
        <nav class="login-nav">
          <a href="" id='logo-login'><%= image_tag("logo.png", id: "logo") %></a>
          <button class="logout-btn">Logout</button>
        </nav>
      <% end %>
    <% end %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

  </body>
</html>
